@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, lightblue, rgb(119, 221, 255));
}

h1 {
    padding: 20px;
    text-align: center;
}

form {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.593);
    border-radius: 20px;
    text-align: center;
    padding: 6vw;
    max-width: 500px;
}

input {
    display: block;
    margin: 0 auto;
    width: 360px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    transition-duration: 0.5s;
}

input:hover {
    background-color: rgb(216, 216, 216);
}


.btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    margin-top: 50px;
    padding: 25px;
    width: 360px;
    border-radius: 50px;
    cursor: pointer;
}

.btn-limpar {
    padding: 2px;
    background-color: black;
    color: white;
    margin-top: 45px;
    width: 75px;
}

.btn:hover, .btn-limpar:hover {
    background-color: lightgray;
    color: rgb(57, 57, 57);
    text-decoration: underline;
    width: 320px;
}

p {
    padding: 8px;
}